section
{
  box-sizing: border-box;
  padding-left: 200px;
  width: 100%;
  border: 5px solid blue;
}

a
{
  color: white;
}

ul>li
{
  height: 46px;
  text-align: right;
}

p
{
  width: 1000px;
}

div.pic
{
  margin-top: 5px;
  margin-right: 5px;
  background-color: green;
  height: 150px;
  width: 17%;
  display: inline-block;
}

div.footer
{
  height: 150px;
}

nav
{
  border: 5px solid blue;
  padding-right: 15px;
  background-color: blue;
  position: fixed;
  left: 13px;
  width: 150px;
  height: 150px;
}

